body {
 /* Тёмно-синий фон */
 background: #293544;
 /* Выравниваем весь текст по центру */
 text-align: center;
}

/* Настраиваем контейнер для барабанов */
.container {

 /* Фиксированная ширина */
 width: 500px;
 /* Фиксированная высота */
 display: flex;
 height: 300px;
 /* Обрезаем содержимое, выходящее за границы */
 overflow: hidden;
 /* Позволяем точно позиционировать элементы внутри */
 position: relative;
 /* Сдвигаем контейнер на середину экрана */
 left: 45%;
 /* Компенсируем смещение, центрируя контейнер */
 margin-left: -150px;
 /* Закругляем углы */
 border-radius: 30px;

 /* Фон с радиальным градиентом*/
 background: radial-gradient(ellipse at center, #2c7dfd 1%, #5d9bfd 65%);

 /* Добавляем тень для объёма */
 box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
}

/* Общие стили для кнопок */
.controls,
.logo {
 /* Фиксированная ширина */
 width: 80px;
 /* Размер шрифта */
 font-size: 40px;
 /* Выравнивание содержимого по центру */
 text-align: center;
 /* Высота строки для центрирования */
 line-height: 76px;
 /* Серый фон */
 background: #b5b5b5;
 /* Отступы 0, автоцентрирование по горизонтали */
 margin: 0 auto 0;
 /* Эффект свечения */
 box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
}

/* Кнопка перезапуска */
.controls {
 /* Закругляем только нижние углы */
 border-radius: 0 0 20px 20px;
 /* Делаем курсор указателем, чтобы показать, что элемент кликабельный */
 cursor: pointer;
}

/* Оформляем логотип */
.logo {
 /* Отступ сверху */
 margin-top: 50px;
 /* Закругляем только верхние углы */
 border-radius: 20px 20px 0 0;
}

/* Оформляем барабаны */
.reel {
 /* Абсолютное позиционирование внутри контейнера */
 position: absolute;
 /* Фиксированная ширина барабана */
 width: 110%;
 /* Высота больше контейнера для эффекта прокрутки */
 height: 1800%;
 /* Применяем анимацию прокрутки */
 animation: reel 1.75s linear 2;
 /* Обрезаем всё, что выходит за границы */
 overflow: hidden;
}

/* Оформляем содержимое барабана */
.inner {
 /* Ширина барабана */
 width: 400px;
 /* Высота элемента для корректного отображения эмодзи */
 height: 100%;
 /* Размер эмодзи */
 font-size: 30px;
 /* Высота строки для центрирования */
 line-height: 216px;
 /* Обрезаем всё, что выходит за границы */
 overflow: hidden;
}

/* Позиционируем барабаны и задаём разную задержку анимации */
.first {
 left: 0;
 animation-delay: -0.5s;
}


/* Анимация вращения барабанов */
@keyframes reel {
 0% {
   /* В начале анимации барабан находится в исходном положении */
   top: 0;
 }
 100% {
   /* Барабан сдвигается вверх, создавая эффект прокрутки */
   top: -1000%;
 }
}